*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

div{
    max-width: 1200px;
}

h4, h1, h3 {
    font-weight: normal;
}

header {
    background-image:url(img.png);
    height: 400px;
    color: white;
    container: flex;
    margin-bottom: 60px;
    display: flex;
    justify-content:space-between;
    position: relative;
}

.heading, nav {
    position: absolute;
}
nav {
    right:0;
    bottom:0;
    padding: 45px;
}

.heading {
    bottom:0;
    padding: 30px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 20px;
}

.content {
    justify-content: center;
    text-align: center;
}

.content h1 {
    font-weight: normal;
}

.content p {
    margin: 40px 200px;
}

.cards {
    display: flex;
    justify-content: space-evenly;
}

.liha {
    width: 200px;
    margin: 10px;
}

.liha img {
    width: 100%;
}

.liha h3 {
    color: #38a0d9;
    margin: 15px 0;
}

p {
    color: gray;
}

footer {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
}