* {
    margin: 0%;
}

header {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color:white;
    text-align: center;
    height: 480px;
    position:relative;
}

header img {
    width: 150px;
    border: 10px solid yellow;
    border-radius: 50%;
    margin-top: 40px;
}

h1 {
    font-size: 100px;
    margin: 10px;
}

header h5 {
    font-size: 30px;
    font-style: italic;
}

.content {
    display: flex;
}

.pilt {
    margin: 100px;
    flex-direction: row;
}

.sisu {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 2;
    margin: 40px;
    margin-top: 80px;
    flex-direction: row;
}

footer {
    background-color: orange;
    font-size: 32px;
    color: white;
    text-align: center;
    padding: 40px;
}

@media (max-width: 800px) {
    .content {
      flex-direction: column;
    }
    .sisu {
        margin-top: 0;
    }
  }